{% extends 'base.html' %}

{% block title %} Reset Your Password {% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
        <img class="mb-4" src="{{ url_for ('static', filename='images/cart.png') }}" alt="">
        <br>
        
        {{ form.email_address.label() }}
        {{ form.email_address(class='form-control', placeholder='Enter Your email_address') }}

        <br>
       
        {{ form.submit(class='btn btn-lg btn-block btn-primary') }}

    </form>
    </div>     
</body>


{% endblock %}